@use "../../styles/variables.scss";

.schedule {
  &-outer {
    background-color: variables.$blue;
  }

  &-wrapper {
    background-color: variables.$blue;
    max-width: 1150px;
    margin: 0 auto;
    padding: 65px variables.$spacing-sm;

    @media (min-width: variables.$breakpoint-sm-md) {
      padding: 65px variables.$spacing-md;
    }

    @media (min-width: variables.$breakpoint-xl) {
      padding: variables.$spacing-xl variables.$spacing-md;
    }
  }

  &-items {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    row-gap: variables.$spacing-md-lg;
    column-gap: variables.$spacing-md;

    @media (min-width: variables.$breakpoint-md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: variables.$breakpoint-lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-item {
    background-color: variables.$white;
  }

  &-link {
    position: relative;
    display: flex;
    font-family: variables.$secondary-font;
    text-decoration: none;
  }

  &-date {
    position: absolute;
    top: -(variables.$spacing-md-lg / 2);
    height: variables.$spacing-md-lg;
    padding: 0 variables.$spacing-xs;
    display: flex;
    align-items: center;
    background-color: variables.$red;
    color: variables.$white;
    font-size: 9px;

    &-triangle {
      position: absolute;
      right: -(variables.$spacing-md-lg);
      width: variables.$spacing-md-lg;
      aspect-ratio: 1;
      clip-path: polygon(0 100%, 0 0, 100% 100%);
      background: linear-gradient(45deg, variables.$red);
    }
  }

  &-match {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: variables.$spacing-sm;
    width: 100%;
    padding: 60px 30px variables.$spacing-lg 30px;
    padding: 60px variables.$spacing-sm-md variables.$spacing-lg
      variables.$spacing-sm-md;
  }

  &-team {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-crest {
      height: 65px;
      width: 65px;
    }

    &-name {
      margin-top: variables.$spacing-sm;
      font-size: 8px;
      letter-spacing: 1px;
      color: variables.$blue;
    }
  }

  &-time-result {
    margin-bottom: variables.$spacing-sm;
    font-size: 28px;
    letter-spacing: 1px;
    color: variables.$blue;
  }
}
