@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

$primary-font: "Josefin Sans", system-ui;
$secondary-font: "Boldonse", system-ui;

$red: #ec1846;
$white: #fff;
$dark-blue: rgb(30, 0, 128);
$blue: #220090;
$balanced-blue: rgb(32, 0, 136);
$medium-blue: #4d32a5;
$light-blue: #0600ff;
$green: rgb(0, 216, 190);
$grey: rgba(255, 255, 255, 0.6);
$medium-grey: #f6f6f6;
$light-grey: rgba(255, 255, 255, 0.2);

$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-sm-md: 15px;
$spacing-md: 25px;
$spacing-md-lg: 35px;
$spacing-lg: 50px;
$spacing-lg-xl: 80px;
$spacing-xl: 100px;

$fontsize-xs: 14.5px;
$fontsize-sm: 16px;
$fontsize-sm-md: 18px;
$fontsize-md: 24px;
$fontsize-lg: 36px;
$fontsize-xl: 48px;

$breakpoint-xs: 320px;
$breakpoint-sm: 480px;
$breakpoint-sm-md: 600px;
$breakpoint-md: 768px;
$breakpoint-md-lg: 900px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1130px;
