@import "../../styles/variables.scss";

nav {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 70px;
  background-color: $primary-color;
}

.triangle {
  position: absolute;
  height: 0;
  width: 0;
  right: -69px;
  border-bottom: 71px solid $secondary-color;
  border-right: 70px solid transparent;
}

.logo {
  height: 50px;
  width: 50px;

  &-wrapper {
    padding: 0 25px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: $secondary-color;
  }
}

.nav {
  &-link {
    color: $primary-text-color;
  }
}

.toggle-menu-button {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  border: none;
  color: $primary-text-color;
  background-color: transparent;
  font-size: 20px;

  &:hover {
    cursor: pointer;
  }
}
