@use "../../styles/variables.scss";

.banner-bottom {
  &-outer {
    background: linear-gradient(
      to right,
      variables.$dark-blue 50%,
      variables.$red 50%
    );
  }

  &-wrapper {
    position: relative;
    width: 100%;
    // height: 390px;
    background-color: variables.$dark-blue;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 variables.$spacing-sm;

    @media (min-width: variables.$breakpoint-sm-md) {
      padding: 0 variables.$spacing-md;
    }
  }

  &-triangle {
    position: absolute;
    right: 0;
    z-index: 0;
    background-color: variables.$red;
    width: 450px;
    height: 100%;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 100% 85%);

    @media (min-width: variables.$breakpoint-sm) {
      width: 800px;
      clip-path: polygon(25% 0%, 100% 0, 100% 100%, 85% 100%);
    }
  }

  &-text {
    position: relative;
    z-index: 1;
    color: variables.$white;
    padding-top: variables.$spacing-xl;
    max-width: 450px;
  }

  &-title {
    font-family: variables.$secondary-font;
    font-size: variables.$fontsize-md;
    margin-bottom: variables.$spacing-md;

    @media (min-width: variables.$breakpoint-sm-md) {
      font-size: 30px;
    }
  }

  &-description {
    font-family: variables.$primary-font;
    line-height: variables.$spacing-md;
    font-size: variables.$fontsize-sm-md;
    margin-bottom: variables.$spacing-md;
  }

  &-item {
    width: 50%;
  }

  &-links-wrapper {
    position: relative;
    z-index: 1;
    max-width: 450px;
    padding-bottom: variables.$spacing-xl;
    margin-top: variables.$spacing-lg;
  }

  &-links {
    display: flex;
    flex-wrap: wrap;
    row-gap: variables.$spacing-md-lg;
  }

  &-link {
    display: flex;
    font-family: variables.$secondary-font;
    font-size: 11px;
    color: variables.$white;
    text-decoration: none;

    line-height: variables.$spacing-md;

    &:hover {
      & i {
        transform: translateX(7px);
        transition: transform 0.15s ease;
      }
    }

    & i {
      font-size: variables.$fontsize-sm-md;
      font-size: 20px;
      margin-right: 20px;
      transition: transform 0.15s ease;
    }
  }
}
