@import "../../styles/variables.scss";

.triangle {
  position: absolute;
  height: 0;
  width: 0;
  right: -69px;
  border-bottom: 71px solid $navbar-background-secondary;
  border-right: 70px solid transparent;
}

.logo {
  height: 50px;
  width: 50px;

  &-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: $navbar-logo-padding;
    background-color: $navbar-background-secondary;
  }
}

.nav {
  &-header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 70px;
    background-color: $navbar-background;
  }

  &-items {
    position: fixed;
    right: 0;
    top: 70px;
    height: 0;
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    font-family: $primary-font;
    background-color: $mobile-menu-background;
    transition: height 0.3s ease, width 0.3s ease;

    &.open {
      height: 100%;
      padding: $nav-items-padding;
    }

    @media (min-width: $breakpoint-sm) {
      width: 400px;
    }

    @media (min-width: $breakpoint-sm-md) {
      width: 0;
      height: 100%;

      &.open {
        width: 400px;
      }
    }

    @media (min-width: $breakpoint-lg) {
      position: static;
      height: 100%;
      width: 100%;
      background-color: transparent;
      display: flex;
      align-items: center;
      padding-left: 100px;
      overflow: visible;
    }
  }

  &-item {
    padding: $nav-item-padding;
    @media (min-width: $breakpoint-lg) {
      padding: $nav-item-padding-desktop;
    }

    &:last-of-type {
      width: 100%;
      padding: $language-select-padding;
      margin-top: 50px;
      border-top: 1px solid $light-grey;
      border-bottom: 1px solid $light-grey;
      color: white;

      @media (min-width: $breakpoint-lg) {
        width: auto;
        padding: $language-select-padding-desktop;
        margin: 0 0 0 auto;
        border: 0;
        border-left: 1px solid $light-grey;
      }
    }
  }

  &-link {
    color: $navbar-link-color;
    font-size: $navlink-mobile-fontsize;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: $navbar-link-hover-color;
    }

    @media (min-width: $breakpoint-lg) {
      font-size: $navlink-fontsize;
    }
  }
}

.toggle-menu-button {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  padding: $toggle-menu-button-padding;
  border: none;
  color: $toggle-mobile-menu-color;
  background-color: transparent;
  font-size: 20px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $breakpoint-lg) {
    display: none;
  }
}

.rotate-right {
  animation: rotateRight 0.2s forwards;
}

.rotate-left {
  animation: rotateLeft 0.2s forwards;
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}
