@use "../../styles/variables.scss";

.triangle {
  position: absolute;
  height: 0;
  width: 0;
  right: -69px;
  border-bottom: 71px solid variables.$red;
  border-right: 70px solid transparent;
}

.logo {
  height: 50px;
  width: 50px;

  &-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 60px;
    background-color: variables.$red;
  }
}

.nav {
  &-wrapper {
    background: linear-gradient(
      to right,
      variables.$red 50%,
      variables.$blue 50%
    );
    padding: 0 variables.$spacing-sm;

    @media (min-width: variables.$breakpoint-sm-md) {
      padding: 0 variables.$spacing-md;
    }
  }

  &-header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 70px;
    background-color: variables.$blue;
    max-width: 1100px;
    margin: 0 auto;
  }

  &-items {
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 70px;
    height: 0;
    width: 100%;
    padding: variables.$spacing-lg variables.$spacing-md;
    visibility: hidden;
    overflow: hidden;
    font-family: variables.$primary-font;
    background-color: variables.$dark-blue;
    transition: height 0.3s ease, width 0.3s ease, visibility 0.17s ease;

    &.open {
      height: 100%;
      visibility: visible;
    }

    @media (min-width: variables.$breakpoint-sm) {
      width: 400px;
    }

    @media (min-width: variables.$breakpoint-sm-md) {
      width: 0;
      height: 100%;

      &.open {
        width: 400px;
      }
    }

    @media (min-width: variables.$breakpoint-md) {
      position: static;
      height: 100%;
      width: 100%;
      padding: 0;
      background-color: transparent;
      display: flex;
      align-items: center;
      overflow: visible;
      visibility: visible;
    }
  }

  &-item {
    padding: variables.$spacing-sm 0;
    @media (min-width: variables.$breakpoint-md) {
      padding: 0 variables.$spacing-sm;
    }

    &:last-of-type {
      width: 100%;
      padding: variables.$spacing-md-lg 0;
      margin-top: 50px;
      border-top: 1px solid variables.$light-grey;
      border-bottom: 1px solid variables.$light-grey;
      color: variables.$white;

      @media (min-width: variables.$breakpoint-md) {
        width: auto;
        padding: variables.$spacing-sm 0 variables.$spacing-sm
          variables.$spacing-lg;
        margin: 0 0 0 auto;
        border: 0;
        border-left: 1px solid variables.$light-grey;
      }
    }
  }

  &-link {
    color: variables.$white;
    font-size: variables.$fontsize-md;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: variables.$green;
    }

    @media (min-width: variables.$breakpoint-md) {
      font-size: variables.$fontsize-sm;
    }
  }
}

.toggle-menu-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: variables.$spacing-xs;
  border: none;
  color: variables.$white;
  background-color: transparent;
  font-size: 22px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: variables.$breakpoint-md) {
    display: none;
  }
}

.rotate-right {
  animation: rotateRight 0.2s forwards;
}

.rotate-left {
  animation: rotateLeft 0.2s forwards;
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}
